.navBar {
  background-color: #3bb9a7;
  height: 100px;
}
.titleText {
  text-align: center;
}

.App {
  text-align: center;
}
.searchBox {
  margin-top: 1em;
}

.alignCenter {
  /* justify-content: center; */
  /* display: block; 
  margin: 0 auto; */
}

input  {
  display:block;
  margin:0 auto;
}




